<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">NajmiAccademy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>

      {% if is_granted("ROLE_PROF") %}
         <li class="nav-item">
           <a class="nav-link" href="{{ path('prof_add_course') }}">Cours<i class="fas fa-plus"></i></a>
        </li>
     {% endif %}
     
   </ul>  

 {% if app.user %}

   <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle  align-top" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <img src="{{ app.user.picture }}"  class="avatar avatar-mini" 
         alt="{{ app.user.name }}" title="{{ app.user.name }}" style="border-radius:100px">
        </a>
    
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
         {% if  app.user.student is defined %}

             <a class="dropdown-item" href="{{ path('profile', {'id':
           app.user.student.id }) }}">Mon compte</a>

          <a class="dropdown-item" href="{{ path('setings' )}}">Settings</a>
          <a class="dropdown-item" href="{{ path('app_user_logout') }}">Déconnexion</a>

         {% elseif app.user.id %}
         <a class="dropdown-item" href="{{  path('prof_profile',{'id': app.user.id}) }}">Mon compte</a>

          <a class="dropdown-item" href="{{ path('prof')}}">Settings</a>
          <a class="dropdown-item" href="{{ path('app_prof_logout') }}">Déconnexion</a>

          {% endif %} 
         
        </div>
      </li>
    </ul>

{% else %}
 <ul class="navbar-nav ml-auto">
   <li class="nav-item">
     <a href="{{ path('app_user_login') }}" class="nav-link">Connexion</a>
   </li>
    <li class="nav-item">
     <a href="{{ path('inscription') }}" class="nav-link btn btn-success">Inscription</a>
   </li>
 </ul>


{% endif %}
  </div>

</nav>