{% extends 'prof/base.html.twig' %}
{% block title %}Prof| NajmiAccademy.com{% endblock %}

{% block body %}

	<div class="container">
  {% for classe in prof.classes %}
       {{ classe.name }} {{ classe.students | length }}
       <table class="table table-striped">
      <thead>
        <th>#ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>C.I.N</th>
        <th>Filière</th>
        <th>Moyen</th>
        <th></th>
      </thead>
      <tbody>
       {% for std in classe.students %}
         {% if std.profile.state == "ACCEPTED"%}
           <tr>
            <td> {{ std.id }}</td>
            <td> <img src="{{ std.user.picture }}" width="65px" height="65px" /></td>
            <td> {{ std.user.name }}</td>
            <td> {{ std.stdperinfo.cin }}</td>
            <td> {{ std.stdchoice.bactype }}</td>
            <td>
                 {% for note in std.notes %}
                    {% if note.prof == app.user %}                    
                        {{ note.note }}                         
                    {% endif %}
                 {% endfor %} 
            </td>
            <td> 
                <a href=" {{ path('prof_add_note',{'id':std.id}) }} " class="btn btn-success">
                     <i class="far fa-edit"></i> 
                </a>  
           </td>
          </tr>
        {% endif %}
       {% endfor %}
       </tbody>
</table>
  {% endfor %}
	</div>
{% endblock %}