{% extends 'base.html.twig' %}

{% block title %}Résume{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
  <div class="alert alert-info">  {{ message }} </div>
{% endfor %}
  <div class="container">
    <div class="container alert alert-success">
    	<h1 class="alert-heading">Information Personnelles : </h1>
      <a href="{{ path('inscription_edit', {'id': stdInfo.id}) }}"
       class="btn btn-small btn-warning  ml-auto" 
        ><i class="fas fa-edit"></i></a>
    	<table class="table">
    		<thead>
    			<th> ID </th>
    			<th> Nom complète </th>
    			<th> Sex </th>
    			<th> Email </th>
    			<th> C.I.N </th>
    			<th> C.N.E </th>
    			<th> Date de Naissance</th>
    			<th>Ville</th>
    		</thead>
    		<tbody>
    			<td> {{ stdInfo.id }} </td>
    			<td> {{ stdInfo.name }} </td>
    			 <td>{{ stdInfo.gendre}}</td>
    			<td> {{ stdInfo.email }} </td>
    			<td> {{ stdInfo.cin }} </td>
    			<td> {{ stdInfo.cne }} </td>
    			<td> {{ stdInfo.age | date('m/d/Y') }} </td>
    			<td>{{ stdInfo.city }} <small> {{ stdInfo.adress }} </small> </td>

    		</tbody>
    	</table>
    </div>
     <div class="container alert alert-info">

    	<h1 class="alert-heading">Cursur Accadémique :  </h1>
        <a href="{{ path('cv_student', {'id': stdInfo.id}) }}"
       class="btn btn-small btn-warning  ml-auto" 
        ><i class="fas fa-edit"></i></a>
    	<table class="table">
    		<thead>
    			<th> ID </th>
    			<th> Niveau Scolaire </th>
    			<th> Lycée </th>
    			<th> Date Scolaire </th>
    			<th> Les Diplômes Obtenus </th>
    		</thead>

        {% if stdCv.id is defined %}
            	<tbody>
    			        <td> {{ stdCv.id }} </td>
    			        <td> {{ stdCv.level }} </td>
    			        <td> {{ stdCv.school }} </td>
    			        <td> {{ stdCv.year | date('m/d/Y')}} </td>
    			        <td> {{ stdCv.diplomes }} </td>
    		      </tbody>
       {% endif %}

    	</table>
    </div>

    <div class="container alert alert-warning">

          <h4 class="alert-heading">Votre Choix de cette Année est :  </h4>
         {% if stdChoice.bactype is defined %}   	     
              <h3 class="alert-heading"> {{stdChoice.bactype}} </h3>            
         {% else %}
            <h3 class="alert-heading"> NOT DEFINED </h3>            
         {% endif %}
           <a href="{{ path('choice_student', {'id': stdInfo.id}) }}"
       class="btn btn-small btn-warning  ml-auto" 
        ><i class="fas fa-edit"></i></a>
    </div>

   <div class="block">
   	   <h2 class="alert alert-secondary">
   	   	L'état de votre demanede :
        {% if stdProfile.id is defined %} 
        <span style="border: 2px solid red;">
              {{ stdProfile.state }} 
        </span>
   	 

       {% else %}
        NOT DEFINED 
    {% endif %}
   	   </h2>
   </div>
 </div>

{% endblock %}
