
{% extends 'base.html.twig' %}

{% block title %}Profile| NajmiAccademy.com{% endblock %}

{% block body %}
 {% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
{% endfor %}
<div class="container">
  {% for prof in myclasse.profs %}

      {% for course in prof.courses %}
      	<div class="text-light bg-warning">
      <h1> {{ course.title }} par {{ prof.name }} à {{ course.createdAt | date}}</h1>
      <img src="{{ course.picture }}">
      <div>
      	{{ course.content}}
      </div>
 </div>
      {% endfor %}

        {% for anounce in prof.anounces %}
      	<div class="text-light bg-warning">
      <h1> {{ anounce.title }} par {{ prof.name }} à {{ anounce.createdAt |date }} </h1>
     
      <div>
      	{{ anounce.content}}
      </div>
 </div>
      {% endfor %}
     
  {% endfor %}
  
</div>
{% endblock %}